gather:
  # 1|0 -> true|false
  confirm_after_done: false

# action mode 1 | 2 | 3
# 1: only current character
# 2: all characters of current account
# 3: all accounts
action_mode: 3

rss_orders:
  V1: ["gold", "gold", "stone", "wood", "food"]
  V2: ["gold", "gold", "stone", "food", "food"]
  V3: ["gold", "gold", "gold", "gold", "gold"]

# example
accounts:
  "1234567":  # account_id
    name: "main_account"
    characters: ["f1", "f2", "f3", "f4"]

  "1234568":
    name: "sub_account_1"
    characters: ["f5", "f6", "f7", "f8"]

# example
characters:
  f1:
    name: "F1"
    ch: 24
    rss_order: V2
    rss_level: 8
    slot_number: 2

  f2:
    name: "F2"
    ch: 24
    rss_order: V1
    rss_level: 8
    slot_number: 3

  f3:
    name: "F3"
    ch: 22
    rss_order: V1
    rss_level: 7
    slot_number: 4

  f4:
    name: "F4"
    ch: 22
    rss_order: V1
    rss_level: 7
    slot_number: 5

  f5:
    name: "F5"
    ch: 24
    rss_order: V2
    rss_level: 8
    slot_number: 1

  f6:
    name: "F6"
    ch: 24
    rss_order: V2
    rss_level: 8
    slot_number: 2

  f7:
    name: "F7"
    ch: 23
    rss_order: V2
    rss_level: 8
    slot_number: 3

  f4:
    name: "F4"
    ch: 22
    rss_order: V1
    rss_level: 7
    slot_number: 4
